@import "tailwindcss";

:root {
  --swiper-theme-color: white;
}
html {
  scroll-behavior: smooth;
}

@theme {
  --color-background: #161616;
  --color-section-background: #221f1f;
  --color-text-gray: #545454;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: white !important;
}
